.container{
  margin: 10px 20px;
  padding:5px;
  border-bottom: 1px solid #bfbfbf;
  color: #d0d0d0;
  display: flex;
}

.input{
  flex:1;
  background: none;
  border: 0; padding: 0; margin: 0;
  line-height: 5vw;
  padding-left: 5px;
  color: #fff;
}

.input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #d4d4d4;
}

.container>label{
  font-size: 5vw;
  color: #fff;
}